---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content {
  padding: 2rem; // 위아래, 좌우 여백
  max-width: 900px; // (선택) 본문 최대 폭 제한
  margin: 0 auto;   // 가운데 정렬
}
